@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --blackColor: #2b2b2b;
}

@font-face {
  font-family: text-security-disc;
  src: url("https://raw.githubusercontent.com/noppa/text-security/master/dist/text-security-disc.woff");
}

* {
  box-sizing: border-box;
  transition: all 200ms ease-in;

  outline: none;
}

button:active,
:focus {
  border: none !important;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;


  direction: ltr;
  transition: backGround 200ms ease-in;
}

header h1 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

::after,
::before {
  transition: all 200ms ease-out;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;

}

button {
  cursor: pointer;
  border: navajowhite;
  background: none;
}

a:visited,
a:focus {}

button:active {}

.btn {

  border-radius: 0px 8px 8px 0px;
  position: absolute;
  right: 50px;
  height: 39.8px;
  color: white;
  width: 70px;
}



.color1 {
  background: #5eb1e3;
}

.color2 {
  background: #a3e35e;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.loading-container {
  height: 80vh;
  display: flex;
  align-items: center
}

.nav-container div a {
  color: rgb(255, 255, 255);
  height: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  font-weight: 700;

}

.nav-container div {
  height: 100%;
  width: 1350px;
  margin: 0 auto;
  padding: 0 40px;
}

.nav-container div ul {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;

}

.nav-container div ul li {
  position: relative;
}

.nav-container ul li:first-child::after {
  content: "";
  position: absolute;
  width: 0;
  transition: .2s all linear;
  background-color: #fff;
  height: 3px;
  bottom: 1px;
  border-radius: 12px;
}

.nav-container ul li:first-child:hover:after {
  width: 100%;
}


.loading {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid rgb(0, 0, 0);
  border-right: 1px solid white;
  box-sizing: border-box;
  animation: 1s linear 0s infinite normal none running rotation;


}

.dis-flex {
  display: flex;
  justify-content: center !important;
}


.fiture {
  height: 100vh;
  position: relative;
  background-image: url('components/image/2464971_CAM_Onsite_EU_BTS_FOOTBALLRUNNINGPROMO_FW22_MASTHEAD_LARGE_MEN_2280x1280px_tcm346-920804.jpg');
  background-size: cover;
  background-position: center;
  padding: 0 30px 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: -50px;
}

.buttons {
  width: 25%;
  display: flex;
  align-items: center;


}

.button {
  min-width: 130px;
  padding: 12px 12px;
  line-height: 1.5;
  background-color: white;
  border-radius: 2px;
  margin-top: 20px;
  display: flex;
  position: relative;
  z-index: 2;
  justify-content: space-between;
  align-items: center;


}

.button span {
  color: #000;
  font-size: 1rem;
  font-weight: 700;
  transition: all ease .2s;

}

.button:hover span {
  color: var(--secendery)
}

.buttons i {
  margin-left: 20px;
}

.button::after {
  content: "";
  border: 1px solid #fff;
  position: absolute;
  right: -3px;
  top: 3px;
  bottom: -3.5px;
  width: 100%;

  border-radius: 1px;
}

.checkout-success-container {
  background-color: #eee;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 20px;
  width: 80%;
  margin: 0 auto;
}

.checkout-success-container div {
  margin-bottom: 15px;
}



.offer-line {
  margin: 0;
  flex-shrink: 0;
  border-width: 0;
    border-bottom-width: 0px;
  border-bottom-width: 0px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.12);
  border-bottom-width: thin;
  position: absolute;
  top: 10px;
  left: -3px;
  transform: rotate(4deg);
  z-index: 2;
  background-color: #919191;
  height: 1px;
  width: 68px;
}

.price-container {
  display: flex;

  margin-top: 10px;
  flex-direction: column;
  text-align: center;
}

.new-offer {
  margin-top: 4px;
  font-size: 1.1rem;
  color: var(--blackColor);
  font-weight: bold;
}


.offer-display {
  position: absolute;
  left: -45px;
  font-size: 0.80rem;
  color: #fff;
  background: rgb(239, 57, 78);
  padding: 3px 3px 3px 2px;
  border-radius: 16%;
  font-weight: 700;
}

.price-container.apply-offer .first-price {
  color: #828282;
  font-weight: normal;
  font-size: 0.95rem;
}

.price-container.apply-offer .sec-price {
  color: #828282;
  font-weight: normal;
  font-size: 14px;
}

/* modall */
.overlay {
  background-color: rgba(0, 0, 0, .4);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;

  animation: opacity ;
  animation-duration:500ms
}
.btn-container button{
  position: relative;
}



.modal-container button:hover span{
 color: #000;


  
}





@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.content p{
  margin: 5px 0;
}
.content p:nth-child(1) {
font-size: 1.3rem;
color: var(--blackColor);
}
.content p:nth-child(2) {
font-size: 1.6rem;
color: #bc3636;
font-weight: bold;
}
.content p:nth-child(3) {
font-size: 1.3rem;
color: var(--blackColor);
}
.modal-container {
  position: fixed;
  z-index: 1000;
  max-width: 600px;
  width: 100%;
  transform: translate(50%, -50%);
  display: flex;
  background-color: #ffffff;
  box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.75);
  top: -50vh;
  right: 50vw;
  border-radius: 5px;
  overflow: hidden;

}

.modalAnime {
  transition: all 500ms ease-in !important;
  top: 50vh;
}
.closeAnime{
  top: -50vh
}
.modal-container img {
  width: 90%;
  object-fit: contain;
}

.modal-right {
  width: 100%;

  background-image: url(.//components/image/pexels-moose-photos-1037995.jpg) ;
  background-position: center;
  background-size: cover;

}

.close-btn {
  position: fixed;
  top: 8px;
  right: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 3rem;
  padding: 1rem 2rem;
}

.btn-container {
  display: flex;
  padding: 0.9rem  0.9rem;


}

.btn-container button {
  width: 100%;
  margin: .5rem;
  padding: 16px 0;
  border: none;
  color: #fff;
  border-radius: 4px;
}

.btn-primery {
  background: linear-gradient(45deg, #f36 0%, rgba(121, 87, 239, 0.8) 100%)
}

.btn-outline {
  background: linear-gradient(45deg, #a94964f2 0%, rgba(45, 41, 67, 0.67) 100%)
}

.bold {
  font-weight: bold;
}


@media screen and (max-width:500px) {
  .modal-container {
    transform: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    padding: 2rem;
  }

  .modal-container img {
    height: auto;
    width: 100%;
    object-fit: cover;
    border-radius: 4%;
  }

}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}